.top{
    background-color: aliceblue;
}
.main-section5 {
    background-color: #f9f9f9;
    padding-bottom: 1cm;
    
    background-image: linear-gradient( 135deg, #b9c0df 10%, #680a36 100%);
     }
  
  .content-box {
    margin-bottom: 0px;
    width: 80%;
    font-style: italic;
    /* background-color: aqua; */
    background: var(--gradient-text);
    padding: 0m;
    
  }

  .content-box h1{
    /* padding-left: 40px; */
    font-weight: bold;
    font-style: italic;
    color: #80285b;
  }

  .content-box p{
    font-weight: 700;
    color: aliceblue;
  }
  
  .btn-box {
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    
  }
  .btn-box1 {
    display: flex;
    justify-content: center;
    
  }
  
  .img-container {
    text-align: right;
  }
  
  .img1 {

    margin-left: 7cm;
  }
  .btn-primary {
    background: transparent linear-gradient(100deg, #705ddd 35%, #625f74 200%); 
    border-radius: 5rem;
}

.c1{
  background-color: aliceblue;
  text-align: center;
}

.c1 #p1{
  font-size: 28px;
  font-weight: 700;
  color: #584cd9;
}

.c1 #p2{
  padding-top: -2px;

}
.bottom{
  border-top: 1px solid #ccc;
}
.myimage img  {
  max-width: 65%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.myclass{
  
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  height: 200px; /* set a height to the container to see the effect */
  border: 1px  #ccc;
}
.myclass h{
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.myclass p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.data{
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
  background-color: rgb(172, 201, 212);
}
.list-style2{
  margin-left: 2cm;
  margin-top: 2cm;
  text-align: center;
 }

 .A2 {
  font-size: 1pc;
  margin-bottom: 1cm;
}

.A3 {
  position: absolute;
  border-radius:1cm;
  padding-left: 0.7cm;
  width: 500;

  margin-top: 0cm;
  padding-right: 0.5cm;
  margin-left: 12cm;
  margin-right: 2cm;
  font-size: 1.5pc;
}
.A4 {
  
  position: relative;
  align-items: left;
  padding-bottom: 4cm;
  padding-right: 3cm;
  float:left;
}


.Image3{
  position: relative;
  text-align: center;
  margin-top: 1cm;
  margin-bottom: 7cm;
  margin-left: 3.5cm;

}



.pack14{
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius:1cm;
  padding-left: 0.7cm;
  width: 400px;
  margin-top: 2cm;
  height: 200px;
  padding-right: 7cm;
  margin-left: 4cm;
  
}



.pack15{
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius:1cm;
  padding-left: 0.7cm;
  width: 400px;

  margin-top: 2cm;
  height: 200px;
  padding-right: 7cm;
  margin-left: 17cm;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
}
.p88{
  margin-left: 0.2cm;
  font-size: 1pc;
  align-items: center;
  align-content: center;
  padding-top: 4cm;
  
}
.pi1{
  margin-top: 10cm;
  text-align: center;
}
.pi2{
  margin-top: 1cm;
  text-align: center;
}



/* CSS for small screens */
@media (max-width: 576px) {
  .myclass {
    text-align: center;
  }
  #i1 {
    font-size: 1.5rem;
  }
  #i2 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

/* CSS for medium and larger screens */
@media (min-width: 577px) {
  .myclass {
    margin-top: 1rem;
  }
  #i1 {
    font-size: 2.5rem;
  }
  #i2 {
    font-size: 1.2rem;
  }
}


  @media only screen and (max-width: 767px) {
    .content-box {
      text-align: center;
    }
    .img-container {
      text-align: center;
      margin-top: 30px;
    }
  }
  
