* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebarcontainer {
  display: flex;
}
sidebarmain {
  width: 100%;
  padding: 20px;
}
.sidebarsidebar {
  background: #b03c2d;
  color: #fff;
  height: 100vh;
  width: 1000%;
  transition: all 0.5s;
}
.sidebarlink_text {
  font-size: 20px;
}
.sidebartop_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.sidebarlogo {
  justify-content: center;
  font-size: 25px;
  font-style: italic;
}
.sidebarbars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.sidebarlink {
  display: flex;
  color: #fff;
  padding: 15px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.sidebarlink:hover {
  background: rgb(97, 109, 161);
  color: #c4b8b8;
  transition: all 0.5s;
}
.sidebaractive {
  background: lightskyblue;
  color: #7a7373;
}
.sidebaricon,
.link_text {
  font-size: 20px;
}

.admincard {
  background-color: rgb(146, 174, 199);
  /* justify-content: center; */

  /* padding-left: 50%; */
  align-content: center;
  align-items: center;
}

.admincontainer-fluid {
  background-color: rgb(239, 230, 218);
  border-radius: 25px;
}

.admincard h3 {
  padding-left: 25%;
  align-items: center;
}
