.hero__content {
  padding-top: 70px;
}

.hero__title {
  font-size: 3rem;
  line-height: 55px;
}

.hero__title span {
  color: #20a6df;
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.order__btn {
  background: #20a6df;
  color: #fff;
  transition: 0.3s;
  font-size: large;
}

.order__btn:hover {
  background: #212245;
}

.hero__service p {
  color: #212245;
  font-weight: 600;
  font-size: 1.3rem;
}

.shipping__icon i {
  padding: 5px;
  background: #20a6df;
  color: #fff;
  border-radius: 50%;
  font-weight: 500 !important;
}
.homepage {
  background-image: linear-gradient(to right, #e2e6ea 50%, #9be6ea 100%);
}
