.portfolio-section {
  background-color: #f2f2f2;
  padding: 50px 0;
  background-color: #f1ef22;
  background-image: linear-gradient(135deg, #31f9fc 10%, #584cd9 100%);
}

.portfolio-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.portfolio-section .text-justify {
  text-align: justify;
}

.portfolio-section ul {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.portfolio-section li {
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
}

.sersubmitBtn {
  background-color: #20a6df;

  color: #f4eeee;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.sersubmitBtn:hover {
  background-color: #265df2;
}
