.top{
    background-color: aliceblue;
}
.main-section {
    background-color: #f9f9f9;
    padding: 100px 0;
    background-image: linear-gradient( 135deg, #31f9fc 10%, #584cd9 100%);
     }
  
  .PostShip-content-box {
    width: 80%;
    /* background-color: aqua; */
   display: flexbox;
   align-content: center;

    
  }

  .PostShip-content-box p{
    font-weight: 500;
    font-size: small;
    color: aliceblue;
 
  }
  
  .btn-box {
    display: flex;
    justify-content: center;
    
  }
  
  .Postship-img-container {
    text-align: right;
  }
  
  .Postship-img-container img {
    max-width: 100%;
    margin-top: 50px;
    margin-right: 50px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .btn-primary {
    background: transparent linear-gradient(100deg, #705ddd 35%, #625f74 200%); 
    border-radius: 5rem;
}

.c1{
  background-color: aliceblue;
  text-align: center;
}

.c1 #p1{
  font-size: 28px;
  font-weight: 700;
  color: #584cd9;
}

.c1 #p2{
  padding-top: -2px;

}
.bottom{
  border-top: 1px solid #ccc;
}
.myimage img  {
  max-width: 65%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.myclass{
  
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  height: 200px; /* set a height to the container to see the effect */
  border: 1px  #ccc;
}
.myclass h{
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.myclass p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.data{
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
  background-color: rgb(172, 201, 212);
}
.PostShip-content-box h1{
  /* padding-left: 40px; */
  font-size: 2.5rem;
  font-weight: bolder !important;
  color: #271067 !important;
  justify-content: center;
  padding-top: 20%;
  font-family: Verdana, sans-serif !important;

  /* font-family: Verdana, sans-serif !important; */
 }



/* CSS for small screens */
@media (max-width: 576px) {
  .myclass {
    text-align: center;
  }
  #i1 {
    font-size: 1.5rem;
  }
  #i2 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

/* CSS for medium and larger screens */
@media (min-width: 577px) {
  .myclass {
    margin-top: 1rem;
  }
  #i1 {
    font-size: 2.5rem;
  }
  #i2 {
    font-size: 1.2rem;
  }
}


  @media only screen and (max-width: 767px) {
    .PostShip-content-box {
      text-align: center;
    }
    .img-container {
      text-align: center;
      margin-top: 30px;
    }
  }
  
