Pricing.css
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .myhead{
    background-color: aliceblue;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  .font{
    padding-top: 0%;
    background-color: aliceblue;
    text-align: center;
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .card {
    border: none;
    box-shadow: 0px 2px 8px rgba(89, 9, 9, 0.1);
  }
  
  .card-header {
    background-image: linear-gradient( 135deg, #2386ad 10%, #e58558 100%);
    font-weight: 600;
    font-style: italic;
    color: #0f010b;
  }
  .card-body{
    background-image: linear-gradient( 135deg, #31f9fc 10%, #584cd9 100%);
    color: #1a135d;
    font-weight: 500;
    font-variant: normal;
    text-align: center;

  }
  
  .card-footer {
    background-color: #22384e;
  }
  .btn-primary {
    background: transparent linear-gradient(100deg, #705ddd 35%, #625f74 200%);
    border-radius: 5rem;
    margin-top: 7px;
} 
  
  .card-title {
    margin-bottom: 20px;
  }
  .li{
    text-align: center;
    justify-content: center;
  }
  .dnd_section_content {
    padding: 20px;
   text-align: center; 
    }

    .p{
      font-weight: 300;
    }
   

  @media screen and (max-width: 768px) {
    .dnd_section_content {
    padding: 20px;
    
    }
    .dnd_container {
    max-width: 100%;
    margin: 0 auto;
    
    }
    .dnd_column_dd_span12 {
    flex-wrap: wrap;
    
    }
    .exclusive-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }
    .flex-flow-col {
    width: 100%;
    margin-bottom: 20px;
    }
    .right-side {
    margin-top: 20px;
    text-align: center;
    }
    .center-align {
    text-align: center;
    }
    .wp-block-image {
    margin-bottom: 10px;
    }
    .cstm-h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
    }
    .text-primry {
    color: #0038a8;
    }
    }